@model Bulletin_Board.Models.MessageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="300"/>
    <title></title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="main" style="width:@ViewBag.w;height:@ViewBag.h;">
    <div class="sub1">
        
        <div class="msg2">
            <div class="datediv">
                <p>@DateTime.Now.Date.ToString("yyyy年M月dd日 dddd")</p>
            </div>
            <div class="user1">

                <label class="font1">值班员：</label>
                <p class="font2">@Model.zhiban1</p>
                <label class="font1">副班：</label>
                <p class="font2">@Model.fuban</p>
            </div>
            <div class="user2">
                <label class="font1">周末值班员：</label>
                <span class="font2">@Model.zhiban2</span>
            </div>
        </div>
        
    </div>
    <div class="sub1">
        <div class="msg1">
            <div id="div1">
                @Html.Raw(Model.msg)
            </div>
            <div>
                @Html.Raw(Model.msg)
            </div>
            
        </div>
    </div>
    </div>
    <script type="text/javascript">
        var divheight = $("#div1").height();
        var divscroll = 0;
        if ($(".msg1").height() > divheight) {
            $("#div1").hide();
        }
        else {
            setInterval(runscroll, 400);
        }
        
        function runscroll() {
            if (divheight > divscroll) {
                $(".msg1").scrollTop(divscroll);
                divscroll += 5;
            }
            else {
                $(".msg1").scrollTop(0);
                divscroll = 0;
            }
        }
    </script>
</body>
</html>
